.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu li a:hover {
  background-color: #111;
}

.main-container{
  border: solid;
  border-width: 2px;
  border-color: gray;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: bisque;
  padding: 20px;
  font-size: 20px;
}


