<p>{{ correctWordNumber }}/{{ wordNumber }}</p>
<p>
  {{ currentWord.translation }} <b *ngIf="submitted"><span *ngIf="correct else elseBlock">Correct</span>
  <ng-template #elseBlock>Incorrect: {{ currentWord.word }}</ng-template></b>
</p>
<p>
  <a href="" (click)="showHint()" *ngIf="!hintEnabled else elseBlock2">Hint</a>
  <ng-template #elseBlock2>{{ hint }}</ng-template>
</p><br>
<input #userword (keyup.enter)="submit(userword.value, userword)">
<button (click)="submit(userword.value, userword)">
  Done
</button>
